<footer id="footer">
    <div class="copy-info">
        <h3 class="title">Flomar Painting</h3>
        <p class="title">&copy; Copyright 2021</p>

    </div>

    <div class="footer-info">
        <h2 class="title">Eduardo Flores</h2>
        <a href="tel:8478009715">Phone: 847-800-9715</a>
        <ul class="social-media">
            <li class="menu-item">
                <a class="icon-facebook" href="www.facebook.com"></a>
            </li>
            <li class="menu-item">
                <a class="icon-instagrem" href="www.instagram.com"></a>
            </li>
        </ul>
    </div>
</footer>