<nav id="navigation">
    <div id="hamburger-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <ul id="menu">
        <li class="menu-item {{#if home-selected}} active {{/if}}"><a href="/">Home</a></li>
        <li class="menu-item {{#if services-selected}} active {{/if}}"><a href="/services">Services</a></li>
        <li class="menu-item {{#if contact-selected}} active {{/if}}"><a href="/contact">Contact</a></li>
    </ul>
    <ul id="social-media">
        <li class="menu-item"><a class="icon-facebook" href="www.facebook.com"></a></li>
        <li class="menu-item"><a class="icon-instagrem" href="www.instagram.com"></a></li>
    </ul>
</nav>